<?php

namespace Acme\DemoBundle\Tests\Controller;

use Daps\LdapBundle\Test\AuthenticatedWebTestHelper;

/**
 * Example functional test taken from Acme\DemoBundle
 *
 * Note the use of AuthenticatedWebTestCase and createClientWithLDAPAuthentication
 */
class DemoControllerTest extends \Symfony\Bundle\FrameworkBundle\Test\WebTestCase
{
    public function testIndex()
    {
        $client = AuthenticatedWebTestHelper::createClientWithLDAPAuthentication("secured_area");

        $crawler = $client->request('GET', '/symfony/demo/hello/Fabien');


        $this->assertTrue($crawler->filter('html:contains("Hello Fabien")')->count() > 0, "hello controller is not responding or not wired up correctly.");
    }
}
